.ion-fb-login
{
  background-color: #435f99;
  background-image: url(../img/ionFB.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .ion-fb-login-description
  {
    *
    {
      color:#F1F1F1;
    }

    .description-title
    {
      text-align:center;
      color:#FFF;
    }

    p
    {
      margin-top:25px;
    }
  }

  .ion-fb-login-buttons
  {
    margin: 10% 0px;
    text-align: center;
    /*position: absolute;
    bottom: 0px;*/
  }
}

.ion-fb-side-menu
{
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color:#4e69a2;

  .col:first-child
  {
    margin: 0px;
    padding: 0px;
  }

  .item
  {
    background-color: #4e69a2;
    border-color: #223770;

    .item-content
    {
      background-color: #4e69a2;
      color: #f1f1f1;

      h2.menu-text
      {
        color: #FFF;
      }
    }
  }

  .item-avatar
  {
    background-color: #FFF;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 80px;

    img:first-child
    {
      top: 25px;
      left: 16px;
      width: 50px;
      height: 50px;
      max-width: inherit;
      max-height: inherit;
      border-radius: 50%;
    }
  }
}

.content-btn
{
  margin-top: 25px;
  top: 25px;

}

.center{
  text-align: center;
}

.item.has-error input {
  color:red;
}
.item.has-success input {
  color:#000;
}

.content-tab-publish
{

  .item {
    border-style : none;
  }
  .status
  {
    background-color: #f8f8f8;
    padding:15px;
    color: #555;
    font-weight: 600
  }
  .btn-send{
    width: 65px;
    //float: right;
  }
  .icon-social{
    font-size: 1.5em
  }

  .row{
    padding: 0;
  }
  .col {
    padding: 5px 0;
  }
  .label-share{
    font-weight: bold;
  }
  .tab-publish{
    border-style : none;
    border : none;
    background: #fff;
    font-size: 1.1em
  }
  .button.tab-publish:active,
  .button.tab-publish:focus{
    border-color: #fff;
    box-shadow: 0
  }

}

.dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
    margin: 15px 0;
    
}

.list-social-map{
  position:absolute;
  top: 50px;
  right: 11px;
  z-index: 5;
}

.gm-style-iw{
	left: 27px !important;
}

.bar.bar-assertive {
    border-color: #000;
    background-color: #000;
}

.angular-google-map-container { height: 400px; }

/*.ion-fb-login .ion-fb-login-buttons {
    position: none;
    bottom: none;
  }*/
.title.title-center.header-item{
  transform:none !important;
}

.search-contact.item-input{
    background: #f4f4f4;
    border-radius: 15px;
    padding: 2px 0 2px 16px;
}

.box-contact-select
{
  .input-label{
    max-width: 80px;
  }
  .lbl-total-contact{
    right: 0;
    position: absolute;
    padding: 6px 0 5px 16px;
  }
}