<ion-view view-title="Contacts">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
  <p>Contacts</p>
  </ion-nav-title>
  <ion-content has-header="true" padding="true">
    <div ng-hide="boxSelect">

    <label class="item-input item-input-inset box-contact-select">

    <div class="input-label">
      Filter by : 
    </div>

      <select ng-change="filterContact(select.socialDefault)"  ng-model="select.socialDefault"  id="id_social"
      ng-options="option.name for option in select.socialOptions track by option.id" class="item-input  item-select">

        <!--<option ng-repeat="option in select.socialOptions" value="{{option.id}}">{{option.name}}</option>-->
      </select>

      <label class="lbl-total-contact">
       {{ totalContact.total }}  Contacts
      </label>
    </label>

      <p></p>

       <label class="search-contact item item-input">
          <i class="icon ion-ios-search placeholder-icon"></i>

          <input type="text" ng-model="name" placeholder="Search Contacts">
       </label>

       </br>

      <div class="list" ng-repeat="item in contacts | filter: name | orderBy: 'name'">
        <a class="item item-avatar" ng-href="#/app/user/{{item.id}}/social/{{item.social}}" target="_self" nav-transition="none">
          <img ng-src="{{item.picture}}">
          <h2>{{item.name}}</h2>
          <p>{{item.location}}</p>
        </a>
      </div>

      <!--

      <div class="box-contact-face" ng-hide="tabsFacebook">

        <div style="padding-bottom: 15px">
          
          <ion-radio ng-model="facebookTada" ng-click="visibleContactFacebook('tada')" >Tada Users</ion-radio>
          <ion-radio ng-model="facebookContact" ng-click="visibleContactFacebook('contacts')" >Facebook Contacts</ion-radio>
          

      
        </div>

        <div ng-hide="tabs.facebookContact">

         <div class="list" ng-repeat="item in contact.facebook | filter: name | orderBy: 'name'">
          <a class="item item-avatar" href="javascript:void(0)" >
            <img ng-src="{{item.picture}}">
            <h2>{{item.name}}</h2>
            <p>{{item.location}}</p>
          </a>
         </div>
        
        </div>

        <div ng-hide="tabs.facebookTada">
          <div class="list" ng-repeat="item in contact.facebookTada | filter: name | orderBy: 'name'">
            <a class="item item-avatar" ng-href="#/app/user/{{item.id}}/social/{{item.social}}" target="_self" nav-transition="none">
              <img ng-src="{{item.picture}}">
              <h2>{{item.name}}</h2>
              <p>{{item.location}}</p>
            </a>
          </div>

        </div>        

      </div>
      -->
      
    </div>
 
  </ion-content>
</ion-view>
