<ion-view view-title="Feed" class="feed-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <p>Feed</p>
  </ion-nav-title>

  <ion-content has-header="true" padding="true">
    
    <button class="button button-stable" ng-click="FacebookOptions()">
        <i class="icon ion-android-camera"></i> Photo
    </button>

    <button class="button button-stable" ng-click="TwitterOptions()">
        <i class="icon ion-chatboxes"></i> Status
    </button>

    <button class="button button-stable" ng-click="InstagramOptions()">
        <i class="icon ion-link"></i> Link
    </button>

    <div ng-hide="vfacebook">
        <div class="list card">
          <a class="item item-icon-left assertive" href="#" ng-click="post_image()">
            <i class="icon ion-images"></i>
            Share a Photo
          </a>
        </div>

        <div class="list card">
          <a class="item item-icon-left assertive" href="#" ng-click="post_image()">
            <i class="icon ion-share"></i>
            Share to Facebook
          </a>
        </div>

        <div class="list card">
          <a class="item item-icon-left assertive" href="#" ng-click="post_status()">
            <i class="icon ion-social-facebook"></i>
            Post status
          </a>
        </div>

        <div class="list card">
          <a class="item item-icon-left assertive" href="#" ng-click="share_link()">
            <i class="icon ion-link"></i>
            Share a link
          </a>
        </div>
    </div>



    <div ng-hide="vtwitter">
      <div class="list card">
        <a class="item item-icon-left assertive" href="#" ng-click="post_image()">
          <i class="icon ion-images"></i>
          Twitt a Photo
        </a>
      </div>

      <div class="list card">
        <a class="item item-icon-left assertive" href="#" ng-click="post_status()">
          <i class="icon ion-social-twitter"></i>
          Twitt Status
        </a>
      </div>

      <div class="list card">
        <a class="item item-icon-left assertive" href="#" ng-click="share_link()">
          <i class="icon ion-link"></i>
          Twitt a link
        </a>
      </div>
      </div>
      
      <div ng-hide="vinstagram">
      <div class="list card">
        <a class="item item-icon-left assertive" href="#" ng-click="post_image()">
          <i class="icon ion-social-instagram"></i>
          Share a Photo
        </a>
      </div>
    </div>




    <div ng-repeat="item in feed" class="list card">
      <div class="item item-avatar">
        <img src="https://graph.facebook.com/{{ item.from.id }}/picture"/>
        <h2>{{item.from.name}}</h2>
        <p>{{item.created_time | date:'MMM d, y h:mma'}}</p>
      </div>
      <div class="item item-body">
        <p ng-if="item.story">{{item.story}}</p>

        <p>{{item.message}}</p>

        <img style="width:100%;" ng-if="item.picture" ng-src="{{ item.picture }}"/>

      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>

    </div>

     <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>

  </ion-content>
</ion-view>
