<ion-pane class="ion-fb-login">
  <!-- <div class="row ion-fb-login-description">
    <div class="col col-center">
      <h4 class="description-title">IonFB - Ionic PhoneGap/Cordova Facebook Native Integration</h4>
      <p class="padding">IonFB is the first Mobile Native Web Application based on the Ionic Framework with a NATIVE Facebook Login Integration!</p>
    </div>
  </div> -->
  <div class="row ion-fb-login-buttons row-ce">
    <div class="col col-center">
      <h1><img src="img/logo.png"/></h1>
      <div style="background-color:#FFF;padding:10px;margin-left:5%;margin-right:5%;border-radius:5px; border: 1px solid #EEE;">
      <center>
        <p>Forgot your password? enter your email here and we will send you a link to reset it</p>
      <label class="item item-input" style="width:80%;margin-top:7%;">
          <i class="ion-person placeholder-icon" style="display: inline-block;    min-width: 15px;"></i>
          <input type="text" placeholder="Enter your email">
      </label>
      <p></p>
      <button class="button button-outline button-light" ng-click="login()" style="background-color:#18C8DE;width:80%;color:#FFF;">
        Reset Password
      </button>
      </center>
      <p></p>
      <p><a href="#" style="color:#18C8DE">Back to Home</a></p>
    </div>

 
    </div>
  </div>
</ion-pane>
