<ion-view view-title="Invite Contact">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <p>Invite Contact</p>
  </ion-nav-title>
  <ion-content>


  </ion-content>
</ion-view>
