<ion-view class="ion-fb-login">
<ion-content ng-controller="LoginCtrl">

  <!-- <div class="row ion-fb-login-description">
    <div class="col col-center">
      <h4 class="description-title">IonFB - Ionic PhoneGap/Cordova Facebook Native Integration</h4>
      <p class="padding">IonFB is the first Mobile Native Web Application based on the Ionic Framework with a NATIVE Facebook Login Integration!</p>
    </div>
  </div> -->
  <div class="row ion-fb-login-buttons row-ce">
    <div class="col col-center">
      <h1><img src="img/logo.png"/></h1>
      <div style="padding:10px;margin-left:5%;margin-right:5%;border-radius:5px; border: 1px solid #EEE;max-width: 320px;margin: auto;">
      <center>
      <label class="item item-input" style="width:80%;margin-top:7%;">
          <i class="ion-person placeholder-icon" style="display: inline-block;    min-width: 15px;"></i>
          <input type="email" placeholder="    Email" ng-model="loginData.user_email">
      </label>
      <p></p>
      <label class="item item-input" style="width:80%;">
          <i class="ion-key placeholder-icon" style="display: inline-block;    min-width: 15px;"></i>
          <input type="password" placeholder="    Password" ng-model="loginData.user_pass">
      </label>
      <p></p>
     
      <button class="button button-outline button-light" ng-click="login()" style="background-color:#18C8DE;width:80%;color:#FFF;">
      Login with Tada
      </button>
      </center>
      <p></p>
      <p><a ng-href="#/register"  style="color:#ffffff">Register</a></p>
      <!--<p><a href="#" style="color:#18C8DE">Forgot Password?</a></p-->
    </div>
      <p></p>
      <p style="padding:15px 0px;color: #fff">-- Or login with --</p>
    <button class="button button-outline button-light" ng-click="loginFacebook()" style="background-color: #48649F;   width: 100%;    max-width: 200px; ">
      <i class="icon ion-social-facebook" style="display: inline-block;    min-width: 21px;    text-align: center;    position: relative;    right: 7px;"></i> Facebook</button>
	  <p></p>
	  <button class="button button-outline button-light" style="background-color:#125688; width: 100%;    max-width: 200px;" ng-click="loginInstagram()">
      <i class="icon ion-social-instagram"  style="display: inline-block;    min-width: 21px;    text-align: center;    position: relative;    right: 7px;"></i>   Instagram</button>
	  <p></p>
	  <button class="button button-outline button-light" style="background-color:#55ACEE;  width: 100%;    max-width: 200px;" ng-click="loginTwitter()">
      <i class="icon ion-social-twitter"  style="display: inline-block;    min-width: 21px;    text-align: center;    position: relative;    right: 17px;"></i>  
      <span style="position: relative;    right: 10px;">Twitter</span></button>


    </div>
  </div>

</ion-content>
</ion-view>
