<ion-view view-title="Map">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <p>Map {{feedLoad.data}}</p> 
  </ion-nav-title>
    <ion-nav-buttons side="right">
    <button  class="button button-icon icon" ng-click="loadPosition('mi-ubicacion')"><i class="ion-pinpoint"></i></button>
  </ion-nav-buttons>
  <ion-content has-header="true" style = "padding:0px 10px">

    <!-- <div ng-repeat="" class="map"> -->
    
          <div class="bar bar-header item-input-inset" style="padding:0px;">
            <label class="item-input-wrapper" style="background:white; border:1px solid #ccc; color:#999;">
              <i class="icon ion-ios-search placeholder-icon"></i>
              <input type="search" placeholder="Search" id="search">
            </label>
            <button class="button button-icon icon ion-search" style="background-color:#18C8DE;color:#fff; margin-right:10px;" ng-click="searchLoaction()">
             
            </button>
            <button class="button-icon icon ion-gear-a" style="background-color:#18C8DE;color:#fff;display: none" ng-click="visibleOptionSocial()"></button>

          </div>

            <div ng-hide="listSocialMap" class="list-social-map">

               <ul class="list">

                <li class="item item-checkbox" ng-hide="listFacebook">
                 <label class="checkbox">
                   <input type="checkbox" ng-model="option.facebook" ng-change="selectSocialMap('facebook')">
                 </label>
                 Facebook
               </li>

               <li class="item item-checkbox" ng-hide="listInstagram">
                 <label class="checkbox">
                   <input type="checkbox" ng-model="option.instagram" ng-change="selectSocialMap('instagram')">
                 </label>
                 Instagram
               </li>

               <li class="item item-checkbox" ng-hide="listTwitter">
                 <label class="checkbox">
                   <input type="checkbox" ng-model="option.twitter" ng-change="selectSocialMap('twitter')">
                 </label>
                 Twitter
               </li>
             </ul>
              
            </div>

<div data-tap-disabled="true" scroll="false">
    <div class="item map" id="map" style="min-height:650px"></div>
</div>
<!--
  <ion-refresher pulling-text="Pull to refresh..." on-refresh="more()">
    </ion-refresher>
    -->
     
</ion-content>
</ion-view>
