<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive">
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="large">
    <ion-content scroll="false">
      <div class="row ion-fb-side-menu" style="background-color: #1f1f1f !important;">
        <div class="col" style="background:#4e69a2">
          <ion-list>
            <ion-item class="item item-avatar">
              
              <img ng-src="{{user.picture}}">
              <h2>Hi {{user.name}}</h2>
              <p>Welcome</p>
            </ion-item>
            <ion-item class="item-icon-left miitem" nav-transition="none" menu-close href="#/app/map" >
              <i class="icon ion-map"></i>
              <h2 class="menu-text">Map</h2>
            </ion-item>
            <ion-item class="item-icon-left" nav-transition="none" menu-close href="#/app/publish">
              <i class="icon ion-radio-waves"></i>
              <h2 class="menu-text">Publish</h2>
            </ion-item>
            <ion-item class="item-icon-left" nav-transition="none" menu-close href="#/app/contacts">
              <i class="icon ion-person-stalker"></i>
              <h2 class="menu-text">Contacts</h2>
            </ion-item>
            <ion-item class="item-icon-left" nav-transition="none" menu-close href="#/app/profile">
              <i class="icon ion-person"></i>
              <h2 class="menu-text">Profile</h2>
            </ion-item>
            <ion-item class="item-icon-left" nav-transition="none" menu-close href="#/app/settings">
              <i class="icon ion-gear-a"></i>
              <h2 class="menu-text">Settings</h2>
            </ion-item>

            <ion-item ng-controller="InviteCtrl" class="item-icon-left" nav-transition="none" menu-close href="#/app/invite" >
              <i class="icon ion-paper-airplane"></i>
              <h2 class="menu-text">Invite Contacts</h2>
            </ion-item>

            <ion-item ng-controller="AppCtrl" class="item-icon-left" menu-close href="#" ng-click="showConfirmLogOut()">
              <i class="icon ion-log-out"></i>
              <h2 class="menu-text">Log out</h2>
            </ion-item>
            
          </ion-list>
        </div>
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
