<ion-view view-title="Photos">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <p>Photos</p>
  </ion-nav-title>
  <ion-content has-header="true" padding="true">

    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
    </ion-refresher>

    <div ng-repeat="photo in photos" class="list card">

      <div class="item item-avatar">
        <img ng-src="https://graph.facebook.com/{{photo.from.id}}/picture?type=square">
        <h2>{{photo.from.name}}</h2>
        <p>{{photo.created_time | date:'medium'}}</p>
      </div>

      <div class="item item-body">
        <img class="full-image" ng-src="{{photo.source}}">
        <p>
          {{photo.name}}
        </p>
        <p>
          {{photo.place.name}}
        </p>
        <p>
          <a href="#" class="subdued">{{photo.likes.data.length}} Likes</a>
          <a href="#" class="subdued">{{photo.comments.data.length}} Comments</a>
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>

    </div>
  </ion-content>
</ion-view>
