<ion-view view-title="Profile">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <p>Profile {{feedLoad.data}}</p>
  </ion-nav-title>
  <ion-content>

    <div class="list card">
      <div class="item">
        <h2>{{user.name}}</h2>
        <p>{{user.location.name}}</p>
        <p>{{user.email}}</p>
      </div>
      <div class="item item-image">
        <img ng-src="{{user.picture}}" />
      </div>
      <a ng-show="{{user.bio.length > 0}}" class="item item-icon-left assertive">
        <i class="icon ion-quote"></i>
        {{user.bio}}
      </a>
    </div>

    <div data-tap-disabled="true" scroll="false" class="card">
      <div class="item map" id="mapa" style="min-height:650px"></div>
    </div>

  </ion-content>
</ion-view>
