<ion-view view-title="Feed" class="feed-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <p>Publish</p>
  </ion-nav-title>

  <ion-content has-header="true" padding="true">

  <div class="content-tab-publish">

      <a class="button icon ion-image tab-publish"> Add Photo</a>
   
  </div>

  <div class="content-tab-publish">

      <div ng-hide="vStatus">
        <textarea name="status" ng-model="publish.message" class="status" placeholder="Share somenthing"></textarea>
      </div>

       <textarea name="desc_photo" ng-model="publish.status_photo" class="status" placeholder="Enter photo description">
       </textarea>

      <div ng-hide="vPhoto">

        <form action="/file-upload" class="dropzone" id="photo-upload">
          <div class="fallback">
            <input name="file" type="file" multiple />
          </div>
        </form>
      </div>

      <div ng-hide="vUpload" class="item item-image">
        
        <img ng-src="{{upload.image}}">

      </div>

      <div style="text-align:center">
          <button class="button button-full" ng-click="capturePhoto()">
              Take Photo and share
          </button>
      </div>

  </div>

   <div class="content-tab-publish">
      <div class="row">
        <div class="col">
          <a class="label-share">Share on</a>   

          <ul class="list">
              <li class="item item-checkbox">
                <label class="checkbox">
                  <input type="checkbox" ng-model="chk.facebook" ng-disabled="disabled.facebook">
                </label>
                <div ng-hide="disabled.facebook">Facebook</div>
                <div ng-hide="disabled.facebookA" style="position: relative;z-index: 5">Facebook - <a href="javascript:void(0)" ng-click="asociarCuenta('facebook')">Associate Your Account </br></a> to publish directly to your account</div>
              </li>

              <li class="item item-checkbox">
                <label class="checkbox">
                  <input type="checkbox"  ng-model="chk.twitter" ng-disabled="disabled.twitter">
                </label>

                <div ng-hide="disabled.twitter">Twitter</div>
                <div ng-hide="disabled.twitterA" style="position: relative;z-index: 5">Twitter - <a href="javascript:void(0)" ng-click="asociarCuenta('twitter')">Associate Your Account </br></a> to publish directly to your account</div>
                
              </li>

              <li class="item item-checkbox">
              <label class="checkbox">
                 <button class="button button-small button-positive btn-send" ng-click="publishStatus()">
                  Send
                </button>

              </label>
             
              </li>

 
          </ul>   

        </div>

      </div>

   </div>


  </ion-content>
</ion-view>
