<ion-view class="ion-fb-login">
<ion-content ng-controller="RegisterCtrl">

  <!-- <div class="row ion-fb-login-description">
    <div class="col col-center">
      <h4 class="description-title">IonFB - Ionic PhoneGap/Cordova Facebook Native Integration</h4>
      <p class="padding">IonFB is the first Mobile Native Web Application based on the Ionic Framework with a NATIVE Facebook Login Integration!</p>
    </div>
  </div> -->
  <div class="row ion-fb-login-buttons row-ce">
    <div class="col col-center">
      <h1><img src="img/logo.png"/></h1>
      <div style="padding:10px;margin-left:5%;margin-right:5%;border-radius:5px; border: 1px solid #EEE;max-width: 320px;margin: auto;">
      <center>

      <label class="item item-input" style="width:80%;margin-top:7%;">
          <i class="ion-email placeholder-icon" style="display: inline-block;    min-width: 15px;"></i>
          <input type="email" placeholder="    Email" ng-model="registerData.email">
      </label>

      <p></p>
      <label class="item item-input" style="width:80%;">
          <i class="ion-key placeholder-icon" style="display: inline-block;    min-width: 15px;"></i>
          <input type="password" placeholder="    Password" ng-model="registerData.pass">
      </label>
      <p></p>
     
      <button class="button button-outline button-light" ng-click="register()" style="background-color:#18C8DE;width:80%;color:#FFF;">
      Register
      </button>
      </center>
      <p></p>
      <p><a href="#/" style="color:#ffffff">Login</a></p>
      <!--<p><a href="#" style="color:#18C8DE">Forgot Password?</a></p-->
    </div>
      <p></p>
     


    </div>
  </div>

</ion-content>
</ion-view>
