<ion-view view-title="Settings">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <p>Account Settings</p>
  </ion-nav-title>
  <ion-content has-header="true" padding="true">

   <form name="settingsForm" novalidate="" ng-submit="updateData(settingsForm)">

      <div class="bar bar-header bar-stable">
        <h1 class="title bold">Personal Information</h1>
      </div>

      <div class="content has-header">
          <div class="list">
            <label class="item item-input" ng-class="{'has-error' : settingsForm.user_email.$invalid}">
              <span class="input-label">Email</span>
              <input type="email" name="user_email" ng-model="user.email" required >
             
            </label>
            <label class="item item-input" ng-class="{'has-error' : settingsForm.first_name.$invalid}">
              <span class="input-label">First Name</span>
              <input type="text" name="first_name" ng-model="user.first_name" required>
            </label>
            <label class="item item-input">
              <span class="input-label">Last Name</span>
              <input type="text" name="last_name" ng-model="user.last_name">
            </label>
          </div>
      </div>

      <ul class="list has-header" style="clear:both">
        <div class="bar bar-header bar-stable" style="position:relative;">
          <h1 class="title bold">Social Accounts</h1>
        </div>
        <li class="item item-toggle">
           Facebook
           <label class="toggle toggle-positive">
             <input type="checkbox" name="facebook" ng-model="socialButton.facebook" ng-change="pushRedSocialChange('facebook')">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        <li class="item item-toggle">
           Instagram
           <label class="toggle toggle-positive">
             <input type="checkbox" id="instagram" ng-model="socialButton.instagram" ng-change="pushRedSocialChange('instagram')">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        <li class="item item-toggle">
           Twitter
           <label class="toggle toggle-positive">
             <input type="checkbox" id="twitter" ng-model="socialButton.twitter" ng-change="pushRedSocialChange('twitter')">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>

  
      </ul>

       <div class="content has-header">
          <div class="bar bar-header bar-stable" style="position:relative;">
            <h1 class="title bold" >Visible radius :<label id="label-radius">500</label> m</h1>
          </div>

          <div class="list">
            <div class="item range range-positive">
                <input type="range" name="visible_radius" min="500" max="5000"  ng-model="user.visible_radius" step="10" ng-change = "changeVisibleRadius()">
              
            </div>

          </div>
      </div>

      <div class="content has-header">

          <div class="bar bar-header bar-stable" style="position:relative;">
            <h1 class="title bold" >Change Password</h1>
          </div>

          <div class="list">

            <label class="item item-input" ng-class="{'has-error' : userPass.current_pass}">
              <span class="input-label">Current Password</span>
              <input type="password" name="current_pass" ng-model="user.current_pass" ng-blur="currentPass(user.current_pass)">
            </label>

            <label class="item item-input" ng-class="{'has-error' : settingsForm.new_pass.$invalid || userPass.valida_new_pass}">
              <span class="input-label">New Password</span>
              <input type="password" name="new_pass" ng-model="userPass.new_pass" minlength="7" ng-pattern="/^[a-zA-Z0-9]*$/" ng-blur="newPass(userPass.new_pass)">
            </label>

            <label class="item item-input" ng-class="{'has-error' : settingsForm.user_pass.$invalid || userPass.valida_user_pass}">
              <span class="input-label">Confirm Password</span>
              <input type="password" name="user_pass" ng-model="userPass.user_pass" minlength="7"  ng-pattern="/^[a-zA-Z0-9]*$/" ng-blur="confirmPass(userPass.user_pass)">
            </label>

          </div>
      </div>

      <div class="content content-btn center">

       <button class="button button-positive">
        Save Changes
       </button>
  
      </div>

      </form>
   

  </ion-content>
</ion-view>


