<ion-view view-title="Profile">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <p>Profile {{feedLoad.data}}</p>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button  class="button button-icon icon" ng-click="loadPosition('mi-ubicacion')"><i class="ion-pinpoint"></i></button>
  </ion-nav-buttons>
  <ion-content has-header="true" padding="true">

    <div class="list card">
      <div class="item">
        <h2>{{contact.name}}</h2>
      </div>
      <div class="item item-image">
        <img ng-src="{{contact.picture}}">
      </div>
 
    </div>
    
    <div data-tap-disabled="true" scroll="false" class="card">
      <div class="item map" id="mapa" style="min-height:650px"></div>
    </div>
      
  </ion-content>
</ion-view>
